<%= form_with(model: pontuacao) do |form| %>
  <% if pontuacao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pontuacao.errors.count, "error") %> prohibited this pontuacao from being saved:</h2>

      <ul>
        <% pontuacao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cartoleiro_id, style: "display: block" %>
    <%= form.number_field :cartoleiro_id %>
  </div>

  <div class="field">
    <%= form.label :rodada_id, style: "display: block" %>
    <%= form.number_field :rodada_id %>
  </div>

  <div class="field">
    <%= form.label :pontos, style: "display: block" %>
    <%= form.text_field :pontos %>
  </div>

  <div class="field">
    <%= form.label :posicao, style: "display: block" %>
    <%= form.number_field :posicao %>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
