<td><%= pontuacao.cartoleiro_id %></td>
<td><%= pontuacao.rodada_id %></td>
<td><%= pontuacao.pontos %></td>
<td><%= pontuacao.posicao %></td>
<td><%= link_to 'Show', pontuacao %></td>
<td><%= link_to 'Edit', edit_pontuacao_path(pontuacao) %></td>
<td><%= link_to 'Destroy', pontuacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
