<p style="color: green"><%= notice %></p>

<p>
  <strong>Cartoleiro:</strong>
  <%= @pontuacao.cartoleiro_id %>
</p>

<p>
  <strong>Rodada:</strong>
  <%= @pontuacao.rodada_id %>
</p>

<p>
  <strong>Pontos:</strong>
  <%= @pontuacao.pontos %>
</p>

<p>
  <strong>Posicao:</strong>
  <%= @pontuacao.posicao %>
</p>

<div>
  <%= link_to "Edit", edit_pontuacao_path(@pontuacao) %> |
  <%= link_to "Back", pontuacaos_path %>

  <%= button_to "Destroy", @pontuacao, method: :delete %>
</div>
