<%= form_with(model: rodada) do |form| %>
  <% if rodada.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rodada.errors.count, "error") %> prohibited this rodada from being saved:</h2>

      <ul>
        <% rodada.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
