<%= form_for(rodada) do |f| %>
  <% if rodada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rodada.errors.count, "error") %> prohibited this rodada from being saved:</h2>

      <ul>
      <% rodada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
